@import 'src/styles/main.scss';
@import 'src/styles/components/room-details.scss';

.back-to-map-btn{
    margin-top: 18px;
    margin-left: 40px;
}

    .back-icon{
        margin-right: 5px;
        @include icon;
        @include background-svg($back-icon);
    }

.subhead{
    font-size: 1.25rem;
}

#room-name{
    font-size: 1.563rem;
}

.darkgray-text{
    color: color(darkgray);
}

.blue-text{
    color: color(blue);
}

.menu-icon{
    @include background-svg($menu-icon);
    @include icon;
}

#doctor-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.card{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
        transition: all 0.3s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -3px;
    }

    &:before {
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        height: 32px;
        width: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: all 0.3s ease-out;
    }

    &:hover:before {
        transform: scale(2.15);
        transition: all 0.3s ease-out;
    }
}

.backdrop{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 31, 35, 0.42);
}

.form-container{
    width: 28.714vw;
    height: 561px;
    background-color: white;
    border-radius: 5px;
}

.room-form {
    padding: 0 28px;
}

.overlay{
    position: fixed;
    top: 0;
    z-index: 101;
    height: 100%;
    background-color: rgba(27, 31, 35, 0.42);
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s ease-in-out, opacity 0.3s ease-in-out;
}

    .hidden-overlay{
        visibility: hidden;
        opacity: 0;
    }

    .menu-container{
        background-color: white;
        position: relative;
        animation: expand-width 0.3s ease-in-out forwards;
    }

    @keyframes expand-width {
        0% {
            width: 0%;
        }
        100% {
            width: 26%;
        }
    }

        .close-icon{
            @include background-svg($close);
            @include icon;
            position: absolute;
            top: 76px;
            right: 40px;
            display: flex;
            align-self: end;
        }

        .menu-title{
            display: inline-block;
            margin-top: 76px;
            color: color(darkgray);

        }

        .nav-items-menu{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
        }

            .nav-item-menu{
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                color: color(blue);
                font-weight: bold;
                cursor: pointer;
            }

            .edit-room-info-icon{
                @include background-svg($edit-room-info);
                @include icon;
            }

            .make-transfer-icon{
                @include background-svg($make-transfer);
                @include icon; 
            }

            .renovate-room-icon{
                @include background-svg($renovate-room);
                @include icon;
            }

            .room-schedule-icon{
                @include background-svg($room-schedule);
                @include icon;
            }

            .manage-doctor-icon{
                @include background-svg($manage-doctor);
                @include icon;
            }

            .doctor-workload-icon{
                @include background-svg($doctor-workload);
                @include icon;
            }
