#map {
    /* background: url(../../assets/images/oasis-map.png) center center / cover no-repeat  fixed; */
    position: relative;
}

#map-background{
    object-fit: cover;
    height: 100vh;
}

.top-to-bottom-gradient{
    position:absolute;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(rgba(0,0,0,0.3), transparent);
}

.back-to-homepage-btn{
    position: absolute;
    z-index: 2;
    margin-top: 18px;
    margin-left: 40px;
}

.back-to-homepage-btn img {
    width: 24px;
    transform: rotate(180deg);
}

