<div class="home-component">
    <div class="homepage-img-container d-flex flex-row">
        <img class="homepage-img" src="../../assets/images/map-background.jpg" alt="">
        <img class="homepage-img" src="../../assets/images/integration-background.jpg" alt="">
    </div>

    <div class="overlay"></div>

    <div class="logo-container text-center">
        <img class="mb-2" src="../../assets/logos/logo-white.png">
        <p class="text-white mb-0"><span>OASIS</span><br />Healthcare Center</p>
    </div>

    <div class="navigation-content-container d-flex flex-row">
        <div class="graphical-editor-container text-center">
            <div class="content-container">
                <p class="text-white fw-bold mb-0">Interactive map</p>
                <button class="btn text-white" [routerLink]="['/hospital-map']"><span class="align-middle">Show map </span> <img src="../../assets/icons/w-arrow.png" alt=""></button>
            </div>
        </div>
        <div class="integration-container text-center">
            <div class="content-container">
                <p class="text-white fw-bold mb-0">Hospital integration</p>
                <button class="btn text-white" [routerLink]="['/integration']"><span class="align-middle">Dive into integration </span> <img src="../../assets/icons/w-arrow.png" alt=""></button>
            </div>
        </div>
    </div>

</div>