@import 'src/styles/main.scss';

.card{
    padding: 10px 20px;
    margin-bottom: 20px;
    height: 94px;
    gap: 18px;
    perspective: 1000px;
    @include card;
}

    .card-title{
        color: color(blue);
        height: 43px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .floor-text{
        font-size: 14px;
        color: color(darkgrey);
    }