@import 'src/styles/main.scss';

.card{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
        transition: all 0.3s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -3px;
    }

    &:before {
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        height: 32px;
        width: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: all 0.3s ease-out;
    }

    &:hover:before {
        transform: scale(2.15);
        transition: all 0.3s ease-out;
    }
}
    .card-title{
        color: color(blue);
        font-size: 16px;
        margin-bottom: 5px;
    }

    .dot{
        margin-right: 5px;
    }

    .status-text{
        font-size: 14px;
        color: green;
    }

    .floor-text{
        font-size: 14px;
        color: color(darkgrey);
    }