<div class="card d-flex flex-column">
    <span class="card-title">{{room.type | roomTypeToString}} {{room.name}}</span>
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row align-items-center">
            <svg class="dot" height="15" width="15"><circle cx="7.5" cy="7.5" r="6" attr.fill="{{roomStatusColor()}}" /></svg>
            <span class="status-text" [style.color]="roomStatusColor()">{{room.status | roomStatusToString}}</span>
        </div>
        <span class="floor-text">Floor {{room.floor}}</span>
    </div>
</div>