@import 'src/styles/main.scss';

.renovation-side-bar{
    height: 100vh;
    width: 35.71vw;

}



    .back-to-room-details-btn{
        margin-top: 18px;
        margin-left: 40px;
    }

        .back-icon{
            margin-right: 5px;
            @include icon;
            @include background-svg($back-icon);
        }

    .subhead{
        font-size: 1.25rem;
    }
    
    #room-name{
        font-size: 1.563rem;
    }
    
    .darkgray-text{
        color: color(darkgray);
    }
    
    .blue-text{
        color: color(blue);
    }

    .form-container{
        width: 28.714vw;
        height: 561px;
        background-color: white;
        border-radius: 5px;

    }

        .form-group select{
            @include drop-down-list;
        }


    .btn-secondary{
        background-color: color(darkgrey);
        font-weight: bold;
        border: none;
    }
    
    .btn-primary{
        background-color: color(blue);
        font-weight: bold;
    }

    .new-room-info{
        margin: 5px;
        width: 100%;
    }