@import 'src/styles/main.scss';

.destination-room-overview{
    overflow-y: hidden;
}

    .search-container{
        height: 33px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 50%
    }

        .search-field{
            margin-right: 12px;
        }


    .subtitle-equipment-transfer{
        width: 100%;
    }

        h3{
            font-size: 20px;
            color: color(darkgrey);
            font-weight: bold;
            margin-top: 10px;
        }

        .remove-filter{
            cursor: pointer;
            color: color(darkgrey);
            font-size: 14px;
            margin-top: 10px;
        }

        .searched-elements{
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            padding: 10px 10px 0 5px;
            width: 100%;
            @include scrollbar;
            height: 69vh;
        }

            .room-card-wrapper{
                height: 70px;
            }