<div id="doctor-workload" class="d-flex flex-column">
    <div class="back-to-room-details-btn" (click)="onBack()">
        <svg class="back-icon"></svg>
        <span *ngIf="roomId != ''" class="align-middle ms-1">Room details</span>
        <span *ngIf="roomId == ''" class="align-middle ms-1">Map view</span>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <h2 *ngIf="doctor">Dr. {{doctor.name}} {{doctor.surname}} Workload</h2>
        <span class="subtitle">Monthly view for 2022</span>
    </div>
    
    <div class="canvas-wrapper">
        <canvas baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="chartLegend"
            [type]="chartType">
        </canvas>
    </div>
</div>