* {
    box-sizing: border-box;
  }
  form {
  width: 300px;
  margin: 0 auto;
  }
  .container {
    padding: 16px;
    background-color: white;
    width: 130%;
  }
  
  input[type=text]{
    background: #8a8787;
  }
  input[type=text]:focus {
    background-color: #A2A2A2;
    outline: none;
  }
  input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

.form-control:focus {
    border-color: #f3f5f7;
    box-shadow: 0 0 0 0.2rem #70a9e6;;
} 

.checkIfAvailableBtn{
    background-color: #66A182;
    width: 30%;
}

.requestSpecBtn {
    background-color: #214975;;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .requestSpecBtn:hover {
    opacity: 1;
  }
