<div class="d-flex flex-column equipment-overview">

    <div class="search-container d-flex flex-row">
        <input type="search" (keyup.enter)="search()" class="form-control search-field" [(ngModel)]="searchInput" id="searchInput" placeholder="Search">
        <app-primary-button (click)="search()" [text]="'Search'"></app-primary-button>
    </div>
    
    <div class="subtitle-equipment-transfer d-flex flex-row justify-content-between">
        <h3 class="">Select equipment for transfer</h3>
        <span class="align-middle remove-filter" *ngIf="isSearchActive" (click)="removeFilter()">Remove filter</span>
    </div> 
    
    <div class="select-view d-flex flex-row">
        <div [class.searched-elements-active-selected-equipment]="isSelectedEquipment" [class.searched-elements-active-quick-transfer]="isQuickTransferVisible" class="searched-elements">
            <div *ngFor="let equipment of filteredEquipment;">
                <app-equipment-card (notifySelectedEquipment)="onNotifySelectedEquipment($event)" [type]="'transfer'" [equipment]="equipment" [selectedEquipmentId]="selectedEquipmentId"></app-equipment-card>
            </div>
        </div>
        <div [class.selected-equipment-active]="isSelectedEquipment" class="selected-equipment">
            <div class="selected-equipment-card">
                <span class="title fw-bold">Selected equipment</span>
                <div *ngIf="selectedEquipment">
                    <span class="subtitle">{{selectedEquipment.equipmentItemName}}</span>
                    <div class="d-flex justify-content-between">
                        <span class="room-info">{{selectedEquipment.roomType | roomTypeToString}} {{selectedEquipment.roomName}}</span>
                        <div class="d-flex flex-row">
                            <svg (click)="decreaseQuantity()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 13H5V11H19V13Z" fill="#A2A2A2"/></svg>       
                            <input type="number" class="quantity-field form-control form-control-sm" id="quantity" [ngModel]='equipmentTransfer.quantity' (ngModelChange)='quantityChange($event)' name='equipmentQuantity'>
                            <svg (click)="increaseQuantity()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="#A2A2A2"/></svg>                                
                        </div>
                    </div>
                </div>
                <span (click)="removeSelectedEquipment()" class="remove-item">Remove</span>
            </div>
            <app-primary-button class="mt-3" text="Continue" (click)="confirmQuantity()"></app-primary-button>
        </div>
    </div>

</div>

<div [class.selected-quick-transfer-active]="isQuickTransferVisible" class="select-quick-transfer d-flex justify-content-center">
    <div class="d-flex flex-row justify-content-evenly">
        <div  (click)="quickTransferSearchBySourceRoom()">
            <p class="menu-title">Most recently used source room</p>
            <span>
                <svg [class.quick-transfer-arrow-down-icon] = "isQuickTransferVisible" [class.quick-transfer-arrow-up-icon] = "!isQuickTransferVisible" class="me-2"></svg>
            </span> 
        </div>
        <!-- TODO: QuickTrasfer with EquipmentID
        <div (click)="quickTransferSearchByEquipment()">
            <p class="menu-title">Most recently transfered equipment</p>
            <span>
                <svg [class.quick-transfer-arrow-down-icon] = "isQuickTransferVisible" [class.quick-transfer-arrow-up-icon] = "!isQuickTransferVisible" class="me-2"></svg>
            </span> 
        </div>
        -->
    </div>
    <div [class.sub-menus-quick-transfer-active]="isQuickTransferVisible"  class="d-flex flex-row justify-content-center sub-menus">
        <div class="d-flex flex-row justify-content-around">
            <div class="d-flex flex-column">
                <p class="menu-title">Most frequently transfered equipment</p>
                <div class="d-flex flex-row">
                    <p class="quick-item">Equipment-01</p>
                    <p class="quick-item">Equipment-02</p>
                    <p class="quick-item">Equipment-03</p>
                </div>
            </div>
            <div class="d-flex flex-column">
                <p class="menu-title">Most frequent source rooms</p>
                <div class="d-flex flex-row">
                    <p class="quick-item">Room-01</p>
                    <p class="quick-item">Room-02</p>
                    <p class="quick-item">Room-03</p>
                </div>
            </div>


        </div>

    </div>

        
</div>
