@import 'src/styles/main.scss';

.equipment-overview{
    overflow-y: hidden;
}

    .search-container{
        height: 33px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 50%
    }

        .search-field{
            margin-right: 12px;
        }


    .subtitle-equipment-transfer{
        width: 100%;
    }

        h3{
            font-size: 20px;
            color: color(darkgrey);
            font-weight: bold;
            margin-top: 10px;
        }

        .remove-filter{
            cursor: pointer;
            color: color(darkgrey);
            font-size: 14px;
            margin-top: 10px;
        }


    .select-view{
        background-color: #fff;
        position: relative;
        height: 69vh; 
    }

        .searched-elements{
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-template-rows: minmax(100px, 102px);
            padding: 10px 10px 0 5px;
            width: 100%;
            height: 90%; // before quickTransfer: 90%
            @include scrollbar;
            transition: all 0.4s ease;
        }

        .searched-elements-active-selected-equipment{
            width: 75%;
            transition: width 0.4s ease;
        }

        .selected-equipment{
            position: absolute;
            top: 1000px;
            right: 0;
            width: 23.25%;
            transition: all 0.4s ease-out;
        }

        .selected-equipment-active{
            display: flex;
            flex-direction: column;
            top: 0;
            transition: top 0.4s ease-out;
        }

            .selected-equipment-card{
                height: 174px;
                border: none;
                border-radius: 5px;
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
                padding: 20px;
            }

                .title{
                    display: inline-block;
                    color: color(blue);
                    margin-bottom: 10px;
                }

                .subtitle{
                    display: inline-block;
                    color: color(blue);
                    height: 43px;
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                .room-info{
                    color: color(darkgrey);
                    font-size: 14px;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .remove-item{
                    color: color(red);
                    font-size: 14px;
                    cursor: pointer;
                }

                .quantity-field{
                    border: none;
                    width: 45px;
                    margin-left: 4px;
                    margin-right: 4px;
                }

                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

        .select-quick-transfer{
            position: fixed;
            bottom: 0px;
            height: 30px;
            width: 95%;
            border-radius: 5px;
            transition: height 0.4s ease;
            box-shadow: 0px 0px 15px 0px  #E5E5E5;
            background-color: #fff;
            padding: 5px;
        }

        .selected-quick-transfer-active{
            display: flex;
            flex-direction: column;
            height: 130px;
            transition: height 0.1s ease-out;
        }

        .menu-title{
            display: inline-block;
            color: color(darkgray);
        }
        
        .quick-transfer-arrow-up-icon{
            @include background-svg($arrow-up);
            @include icon; 
        }

        .quick-transfer-arrow-down-icon{
            @include background-svg($arrow-down);
            @include icon; 
        }

        .sub-menus{
            display: none !important;
        }

        .sub-menus-quick-transfer-active{
            display:  inline-block !important;
        }

            .quick-item{
                border-radius: 25px;
                background: #e9edf2;
                //color:
                padding: 5px 10px; 
                margin-right: 5px;
                cursor: pointer;
            }

            .quick-item:hover {
                background-color: #bdc9d7;
              }