@import 'src/styles/main.scss';

.time-overview{
    overflow-y: hidden;
}

    .search-container{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%
    }

        .custom-date-picker{
            border: 0px;
            height: 33px;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
            margin-right: 20px;
        }

    h3{
        font-size: 20px;
        color: color(darkgrey);
        font-weight: bold;
        margin-top: 10px;
    }

    .remove-filter{
        cursor: pointer;
        color: color(darkgrey);
        font-size: 14px;
    }


    .time-form{
        padding-left: 6px;
    }

        .form-group.hidden {
            width: 0;
            margin: 0;
            border: none;
            padding: 0;
        }

        .custom-day {
            text-align: center;
            padding: 0.185rem 0.25rem;
            display: inline-block;
            height: 2rem;
            width: 2rem;
        }

        .custom-day.focused {
            background-color: #e6e6e6;
        }

        .custom-day.range, .custom-day:hover {
            background-color: color(blue);
            color: white;
            border: 0px;
        }

        .custom-day.faded {
            background-color: rgba(54, 112, 176, 0.3);
        }

        .input-group{
            position: relative;
        }

            input{
                background-color: white !important;
            }

            .calendar{
                position: absolute;
                @include icon;
                right: 26px;
                top: 6px;
                @include background-svg($calendar-icon);
                z-index: 100;
            }

        .duration{
            width: 136px;
            height: 33px;
            margin-right: 20px;
            position: relative;
            
            .duration-select{
                height: 33px;
                @include drop-down-list;
            }
        }

        .search-button{
            width: 92px;
        }

    .schedule-transfer-button{
        width: 220px;
    }

    .searched-elements{
        padding: 10px 10px 0 5px;
        width: 100%;
        height: 69vh;
        @include scrollbar;
    }

        .card{
            width: 100%;
            padding: 0 30px;
            height: 62px;
            @include card;
        }

        