<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #214975;">
   
  <div class="container-fluid">
    <a class="navbar-brand" href="#">OASIS-Integration</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pharmacy Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pharmacies</a>
        </li>
        
      </ul>
    </ul>
  </div>
</nav>
