<div class="d-flex flex-column container align-items-center">
    <h5>Assign on-call shift</h5>
    <div class="d-flex mb-3">
        <span class="grey-text subtitle">Pick an on-call shift</span>
    </div>

    <div class="form-group my-3">
        <div class="input-group">
          <input class="form-control custom-date-picker" placeholder="Date"
                 name="dp" [(ngModel)]="fromDate" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
    </div>

    <div class="d-flex mb-3 justify-content-center">
        <span class="grey-text subtitle" style="margin-right:70px;">From 11p.m. the selected day <br> until 8a.m. the next day</span>
    </div>

    <div class="dialog-buttons d-flex flex-row justify-content-center">
        <app-primary-button class="dialog-button w-100 me-2" text="Cancel" color="#a2a2a2" (click)="onCancelClick()"></app-primary-button>
        <app-primary-button class="dialog-button w-100 ms-2" text="Assign" color="#214975" (click)="assignOnCallShift()"></app-primary-button>
    </div>
</div>

