@import 'src/styles/main.scss';

.scroll-box{
    border: none;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 5px 11px 15px 15px;
    @include scrollbar;
}