<div class="scroll-box">
    <div *ngIf="rooms && mode=='rooms'" >
        <div *ngFor="let room of rooms">
            <app-room-card (notifyDisplayRoom)="onNotifyDisplayRoom($event)" *ngIf="!isSearchActive && room.floor == selectedFloor" [room]="room"></app-room-card>
            <app-room-card (notifyDisplayRoom)="onNotifyDisplayRoom($event)" *ngIf="isSearchActive && (room.name + (room.type | roomTypeToString)).toLowerCase().includes(searchFilter)" [room]="room"></app-room-card>
        </div>
    </div>
</div>
