<app-integration></app-integration>
<br>
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <br>
            <h5>Choose pharmacy</h5>
        </div>
        <select style="width:120%;max-width:100%;" name="multipleSelect" id="multipleSelect" multiple
            (change)="selectChangeHandlerId($event)" title="Please select pharmacy" required>
            <option *ngFor="let phar of pharmacies" [value]="phar.idPharmacy">
                {{phar.namePharmacy}}
            </option>
        </select>

        <ul class="list-unstyled CTAs">
            <button  (click)="viewProfile()" class="btn btn-secondary btn-medium;">View profile</button>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <div class="left">
            <table>
                <caption style="text-align:left"></caption>
                <h1>Pharmacy profile</h1>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <td>
                        <label><strong>Name</strong></label>
                        <p>{{pharmacyName}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Adress</strong></label>
                        <p>{{pharmacyAddress}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>City</strong></label>
                        <p>{{pharmacyCity}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Website</strong></label>
                        <p>{{pharmacyWebsite}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Notes</strong></label><br>
                        <textarea [ngModel]="notes" (change)="onNotesTextChange($event)" style="width:479px; height:120px;">{{notes}}</textarea>
                    </td>
                </tr>

            </table>
        </div>
        <div class="right">
            <img src="../../../assets/images/integration-background.jpg" alt="pharmacy_pic" width="200" height="200">
            <button class="btn btn-secondary"
                style="text-align: center; display: grid; cursor: pointer; margin-left: 40%; margin-top: 2%;">Add
                picture</button>

        </div>
    </div>
</div>