<app-integration></app-integration>
<br>
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <br>
            <h5>Choose pharmacy</h5>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#">Pharmacy 1</a>
            </li>
            <li>
                <a href="#">Pharmacy 2</a>
            </li>
            <li>
                <a href="#">Pharmacy 3</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <button class="btn btn-secondary btn-medium;">View profile</button>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <div class="left">
           
            <table>
                <caption style="text-align:left"></caption>
                <h1>Pharmacy profile</h1>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <td>
                        <label><strong>Name</strong></label>
                        <p>Pharmacy name</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Adress</strong></label>
                        <p>Pharmacy adress</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>City</strong></label>
                        <p>Pharmacy city</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Website</strong></label>
                        <p>Pharmacy website</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Notes</strong></label><br>
                        <textarea style="width:479px; height:120px;"></textarea>
                    </td>
                </tr>

            </table>
            
        </div>
        <div class="right">
            <img src="../../../assets/images/integration-background.jpg" alt="pharmacy_pic" width="200" height="200">
            <button class="btn btn-secondary"
            style="text-align: center; display: grid; cursor: pointer; margin-left: 40%; margin-top: 2%;">Add picture</button>
            
        </div>
    </div>
</div>