<app-menu></app-menu>

  <div id="PharmacyRegistration" class="background">
    <form (submit)="send()" ngNativeValidate>
      <div class="container">
        <h1 style="text-align: center;">Pharmacy registration</h1>
        <p style="text-align: center;">Please fill in this form to register pharmacy</p>
        <hr>
        <table>
            <th></th>
            <th></th>
      <tr>
        <td><label><strong>Name</strong></label><label style="color: red;"><strong>*</strong></label><br>
        <input style="width: 80%;" type="text" placeholder="Enter Pharmacy Name" required (change)="selectChangeHandlerName($event)" [attr.aria-label]="namePharmacy">
        </td>
        <td><label><strong>API Key</strong></label><label style="color: red;"><strong>*</strong></label>
        <input style="width: 90%;" type="text" placeholder="Enter API Key" required (change)="selectChangeHandlerApiKey($event)" [attr.aria-label]="apiKeyPharmacy">
        </td>
      </tr>
      <tr>
        <td>
        <label><strong>Website</strong></label><label style="color: red;"><strong>*</strong></label>
        <input style="width: 80%;" type="text" placeholder="Enter Website Link" required (change)="selectChangeHandlerEndpoint($event)" [attr.aria-label]="endpoint">
        </td>
        <td>
        <label><strong>Address</strong></label><label style="color: red;"><strong>*</strong></label>
        <input style="width: 90%;" type="text" placeholder="Enter Website Link" required (change)="selectChangeHandlerAddress($event)" [attr.aria-label]="address">
        </td>
      </tr>
      <tr>
        <td>
        <label><strong>City</strong></label><label style="color: red;"><strong>*</strong></label><br>
        <input style="width: 80%;" type="text" placeholder="Enter City" required (change)="selectChangeHandlerCity($event)" [attr.aria-label]="city">
        </td>
        <td>
        <label><strong>Contact</strong><label style="color: red;"><strong>*</strong></label></label>
        <input style="width: 90%;" type="text" placeholder="Enter Contact" required (change)="selectChangeHandlerContact($event)" [attr.aria-label]="contact">
        </td>
      </tr>
      <tr>
        <td>
        <label><strong>Email</strong><label style="color: red;"><strong>*</strong></label></label><br>
        <label *ngIf = "emailIsValid == false" class="errorText"><br>Invalid Email Format</label>
        <input style="width: 80%;" [ngClass]="{'error': emailIsValid == false}" (ngModel) = "email" [value]="email" type="text" placeholder="Enter Email" required (change)="selectChangeHandlerEmail($event)" [attr.aria-label]="email">
        </td>
      </tr>
    </table>
      
        <hr>
        <button style="max-width: 50%; align-items: center; text-align: center; margin-left: 25%;" type="submit" class="registerbtn">Register</button>
      
      </div>
    </form>
  </div>
