<app-integration></app-integration>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #214975;">
   
    <div class="container-fluid">
      <a class="navbar-brand" href="/integration">OASIS-Integration</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/integration">Home Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/integration/pharmacy-registration">Pharmacy Registration</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="#">Pharmacies</a>
          </li>
          
        </ul>
      </ul>
    </div>
  </nav>    

  <div id="PharmacyRegistration">
    <form (submit)="send()">
      <div class="container">
        <h1>Pharmacy registration</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
      
        <label><b>Pharmacy Name</b></label>
        <input type="text" placeholder="Enter Pharmacy Name" required (change)="selectChangeHandlerName($event)" [attr.aria-label]="namePharmacy">
      
        <label><b>API Key</b></label>
        <input type="text" placeholder="Enter API Key" required (change)="selectChangeHandlerApiKey($event)" [attr.aria-label]="apiKeyPharmacy">
      
        <label><b>Endpoint</b></label>
        <input type="text" placeholder="Enter Endpoint" required (change)="selectChangeHandlerEndpoint($event)" [attr.aria-label]="endpoint">
        <hr>
        <button type="submit" class="registerbtn">Register</button>
      </div>
        
    </form>
  </div>
