@import 'src/styles/main.scss';


.side-bar-container{
    height: 100vh;
}

    .search-mode{
        padding: 20px 11px 0 15px;
        width: 100%;
        color: color(darkgrey)
    }

        .room-icon, .equipment-icon{
            margin-right: 5px;
            @include icon;
        }

        .mode-button{
            cursor: pointer;
        }

    .search-container{
        padding: 0 11px 0 15px;
        height: 33px;
        width: 100%;
        margin-top: 12px;
    }

        .search-field{
            @include background-svg($search-icon);
            background-repeat: no-repeat;
            background-position: 10px center;
            padding-left: 35px;
            margin-right: 10px;
        }

    .display-container{
        margin: 10px 0 15px 0;
    }

        .display-title-wrapper{
            padding: 0 11px 0 15px;
            margin-bottom: 5px;
        }

        .title{
            color: color(blue);
        }

        .remove-filter{
            color: color(darkgrey);
            font-size: 14px;
        }

        .scroll-box-container{
            max-height: 76.25vh;
            padding-right: 12px;
        }
    
    .button-wrapper{
        cursor: pointer;
        margin-right: 32px;
    }

        .room-details-icon{
            margin-left: 5px;
        }

        