<app-integration></app-integration>
<br>
<div id="ViewTenders" class="background">
    <nav id="sidebar">
        <button title="Previous page" class="btn btn-secondary btn-medium"
            style="margin-left: 20%; margin-top: 10%; margin-bottom: 4%; width: 50%;"
            routerLink="/integration/tender">Back</button>
        <div class="sidebar-header">
            <br>
            <h5 style="text-align: center;">Active Tenders</h5>
        </div>
        <select style="width:120%;max-width:100%;" name="multipleSelect" id="multipleSelect" multiple
            title="Please select tender" required (change)="selectChangeHandlerId($event)">
            <option *ngFor="let tender of tenders" [value]="tender.id">
                Tender ID : {{tender.id}}
            </option>
        </select>

        <ul class="list-unstyled CTAs">
            <button (click)="viewOffers()" class="btn btn-secondary btn-medium;" style="margin-left: 20%;">View
                offers</button>
        </ul>
    </nav>

    <div>
        <span style="text-align: left;" *ngIf="this.showTenderInfo && this.selectedTenderId != ''">

            <label style="margin-left: 3%;" (ngModel)="selectedTenderStartDate">
                <strong>
                    Tender Opened on:
                </strong>
            </label> &nbsp;
            <label>{{selectedTenderStartDate | date:'fullDate'}}</label>
            <br>
            <label style="margin-left: 3%;" (ngModel)="selectedTenderEndDate"><strong>
                    Tender Closes on:
                </strong></label>&nbsp;
            <label> {{selectedTenderEndDate | date:'fullDate'}} </label><br><br>
            <br>
            <button (click)="closeTender()" class="btn btn-outline-danger btn-medium;" style="margin-left: 3%;">Close
                Tender</button>
            <br>

        </span>
        <ngb-accordion style="width: 35rem; height: 5rem; margin-left: 3%;" *ngFor="let offer of tenderOffers">
            <ngb-panel title="Offer from {{offer.pharmacy}}">
                <ng-template ngbPanelContent>
                    <div class="card-body" id="collapseExample" style="background: #8e8f8f80">
                        <div class="card card-body" *ngFor="let item of offer.tenderOfferItems">
                            <table style="text-align: left;">
                                <tr>
                                    <td><label (ngModel)="medicineName"><strong>
                                                Medicine name:
                                            </strong></label></td>&nbsp;
                                    <td>
                                        {{item.medicineName}}

                                    </td>
                                </tr>
                                <tr>
                                    <td><label (ngModel)="dosageInMilligrams"><strong>
                                                Dosage in milligrams:
                                            </strong></label></td>&nbsp;
                                    <td>
                                        {{item.medicineDosage}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label (ngModel)="availableQuantity"><strong>
                                                Available quantity:
                                            </strong></label></td>&nbsp;
                                    <td>
                                        {{item.availableQuantity}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label (ngModel)="missingQuantity"><strong>
                                                Missing quantity:
                                            </strong></label></td>&nbsp;
                                    <td>
                                        {{item.missingQuantity}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label (ngModel)="priceForSingleEntity"><strong>
                                                Price for single entity:
                                            </strong></label></td>&nbsp;
                                    <td>
                                        {{item.priceForSingleEntity}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <label (ngModel)="priceForAllAvailable" style="text-align: left; margin-top: 2%;"><strong>
                            Price for all available entities:
                        </strong></label>&nbsp;
                    <label style="text-align: left;">
                        {{offer.priceForAllAvailable}}
                    </label><br>
                    <label (ngModel)="priceForAllRequired" style="text-align: left; margin-top: 2%;"><strong>
                            Price for all required entities:
                        </strong></label>&nbsp;
                    <label style="text-align: left;">
                        {{offer.priceForAllRequired}}
                    </label><br>
                    <label (ngModel)="totalNumberMissingMedicine" style="text-align: left; margin-top: 2%;"><strong>
                            Total number of missing medicine:
                        </strong></label>&nbsp;
                    <label style="text-align: left;">
                        {{offer.totalNumberMissingMedicine}}
                    </label><br>
                    <button id= "{{offer.idTenderOffer}}" (click)="acceptOffer(offer.idTenderOffer)" class="btn btn-secondary btn-medium"
                        style="background: #66A182; margin-top: 2%;" title="Accept an offer">Accept</button>

                </ng-template>
                <div>
                </div>
            </ngb-panel>

        </ngb-accordion>
    </div>

</div>