@import 'src/styles/main.scss';

.header-equipment-transfer{
    height: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.back-to-map-view-btn img {
    width: 24px;
    transform: rotate(180deg);
}

.back-to-map-view-btn span{
    color: #a2a2a2;
}

#move-equipment{
    padding-right: 40px;
    padding-left: 40px;
}


.steps{
    padding: 0px, 5px, 20px, 20px;

}
.source-room-icon, .destination-room-icon, .time-icon{
    margin-right: 5px;
}

.title-equipment-transfer{
    height: 46px;
}

.search-container{
    height: 33px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%
}

.subtitle-equipment-transfer h3{
    font-size: 20px;
}

.select-view{
    height: 500px;
    background-color: #fff;
}

.searched-elements{
    display: grid !important;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    height:500px;
    width: 70%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: color(lightgrey);
    border-radius: 10px;
}
    
::-webkit-scrollbar-thumb:hover {
    background: color(darkgrey);
    height: 71%;
    background-color: #a2a2a2;
}
