@import "svgs";

@mixin icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

@mixin scrollbar{
    overflow: scroll;
    overflow-x: hidden;
    
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        border: 1px solid white;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: color(lightgrey);
        border-radius: 10px;
    }
        
    &::-webkit-scrollbar-thumb:hover {
        background: color(darkgrey);
    }

}

@mixin card{
    
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
    cursor: pointer;

    &:hover {
        transition: all 0.3s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -3px;
    }

    &:before {
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        height: 32px;
        width: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: all 0.3s ease-out;
    }

    &:hover:before {
        transform: scale(2.15);
        transition: all 0.3s ease-out;
    }
}

@mixin drop-down-list{

    padding: 4px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    @include background-svg($select-arrow);
    background-repeat: no-repeat;
    background-position: right 5px top 50%;

<<<<<<< HEAD
=======
}

@mixin noselect{
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;                
>>>>>>> develop
}