<app-integration></app-integration>
<br>

<div id="UrgentRequest">
    <form (submit)="send()">
      <div class="container">
          <table>
            <h1 style="text-align: center;">Order urgent request</h1>
            <hr>
        
            <tr>
                <th></th>
                <th></th>
        
            </tr>
            <tr>

                <td>
                    <label><b>Medicine</b></label>
                    <input type="text" (change)="selectChangeHandlerMedicine($event)" [attr.aria-label]="medicine" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>Dose</b></label>&nbsp;<br>
                    <input type="text" style="font-size: medium; max-width: 30%;" (change)="selectChangeHandlerDose($event)" [attr.aria-label]="dose" required><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>Quantity</b></label>&nbsp;<br>
                    <input type="text" style="font-size: medium; max-width: 30%;" (change)="selectChangeHandlerQuantity($event)" [attr.aria-label]="quantity"required><br>
                    <button type="button" class="btn btn-secondary checkIfAvailableBtn">Check if available</button><br><br>

                    <select name="multipleSelect" id="multipleSelect" multiple (change)="selectChangeHandlerSelectedPharmacy($event)" [attr.aria-label]="selectedPharmacy" required>
                        <option value="option-1">Apoteka Jankovic</option>
                        <option value="option-2">Apoteka Benu</option>
                        <option value="option-3">Apoteka Laurus</option>
                    </select>
                </td>
            </tr>
            <hr>
            <button type="submit" class="btn btn-danger btn-secondary orderButton">Order</button>
           
        </table>
      </div>
        
    </form>
  </div>