<app-integration></app-integration>
<br>

<div id="UrgentRequest" class="background">
    <form (submit)="send()">
      <div class="container">
          <table>
            <h1 style="text-align:center;">Urgent request</h1>
            <hr>
        
            <tr>
                <th id="Empty3"></th>
                <th id="Empty4"></th>
        
            </tr>
            <tr>
                <td>
                    <label><b>Medicine</b></label>
                    <input type="text" [disabled]='disableFields' (change)="selectChangeHandlerMedicine($event)" autofocus pattern="[a-zA-Z]" title="Please use letters only" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>Dose</b></label>&nbsp;<br>
                    <input type="text" [disabled]='disableFields' style="font-size: medium; max-width: 30%;" (change)="selectChangeHandlerDose($event)" pattern="[0-9]" title="Please use numbers only" required>&nbsp;<label>mg</label><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>Quantity</b></label>&nbsp;<br>
                    <input type="text" [disabled]='disableFields' style="font-size: medium; max-width: 30%;" (change)="selectChangeHandlerQuantity($event)" pattern="[0-9]" title="Please use numbers only" required><br>
                </td>
            </tr>
            <tr>
                    <button type="button" (click) = "checkIfAvailable()" class="btn btn-secondary checkIfAvailableBtn">Check</button>&nbsp;
                    <button type="button" (click)="cancel()" class="btn btn-secondary cancelBtn">Cancel</button><br><br>
            </tr>
            <tr>
                    <label><b>Available in: </b></label><br>
                    
                    <select style="width:120%;max-width:100%;" name="multipleSelect" id="multipleSelect" multiple (change)="selectChangeHandlerSelectedPharmacy($event)" title="Please select pharmacy" required>
                        <option *ngFor="let phar of pharmacies" [value]="phar.idPharmacy">
                            {{phar.namePharmacy}}
                        </option>
                    </select>
               
            </tr>
            <hr>
            <button type="submit" class="btn btn-danger btn-secondary orderButton">Order</button>
           
        </table>
      </div>   
    </form>
</div>

