@import 'src/styles/main.scss';

.equipment-overview{
    overflow-y: hidden;
}

    .title-equipment-transfer{
        height: 46px;
    }

    .search-container{
        height: 33px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%
    }

        .search-field{
            margin-right: 12px;
        }


    .subtitle-equipment-transfer{
        width: 100%;
    }

        h3{
            font-size: 20px;
            color: color(darkgrey);
            font-weight: bold;
            margin-top: 10px;
        }

        .remove-filter{
            cursor: pointer;
            color: color(darkgrey);
            font-size: 14px;
            margin-top: 10px;
        }


    .select-view{
        background-color: #fff;
        position: relative;
        height: 72vh;
    }

        .searched-elements{
            padding: 10px 10px 0 5px;
            width: 100%;
            @include scrollbar;
            gap: 10px;
        }



.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.input-group{
    position: relative;
}

    input{
        background-color: white !important;
    }

    .calendar{

        position: absolute;
        @include icon;
        right: 16px;
        top: 5px;
        @include background-svg($calendar-icon);
        z-index: 100;
    }

.duration{
    margin-top: -32px;
    margin-left: 5px;
    margin-right: 5px;
}
