<div class="d-flex flex-column transfer-time-overview">
  <div class="search-container d-flex flex-row justify-content-between">
    <form class="transfer-time-form form-inline d-flex flex-row">
      <div class="form-group hidden">
          <div class="input-group">
              <input name="datepicker"
                      class="form-control custom-date-picker"
                      ngbDatepicker
                      #datepicker="ngbDatepicker"
                      [autoClose]="'outside'"
                      (dateSelect)="onDateSelection($event)"
                      [minDate]="minDate!"
                      [displayMonths]="2"
                      [dayTemplate]="t"
                      outsideDays="hidden"
                      [startDate]="fromDate!"
                      tabindex="-1">
              <ng-template #t let-date let-focused="focused">
                  <span class="custom-day"
                      [class.focused]="focused"
                      [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)"
                      (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                  </span>
              </ng-template>
          </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input #dpFromDate
                  class="form-control custom-date-picker" placeholder="From"
                  name="dpFromDate"
                  [value]="formatter.format(fromDate)"
                  (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                  <svg class="calendar" (click)="datepicker.toggle()"></svg>
          <div class="input-group-append">
          </div>
        </div>
      </div>
      <div class="form-group ml-2">
        <div class="input-group">
          <input #dpToDate
                  class="form-control custom-date-picker" placeholder="To"
                  name="dpToDate"
                  [value]="formatter.format(toDate)"
                  (input)="toDate = validateInput(toDate, dpToDate.value)">
                  <svg class="calendar" (click)="datepicker.toggle()"></svg>
          <div class="input-group-append">
          </div>
        </div>
      </div>
      <div class="duration">
        <select class="form-control duration-select" [ngModel]="equipmentTransfer.transferDuration" (ngModelChange)="onDurationChange($event)" id="freeTimeSlots" name='freeTimeSlots'>
            <option value="" disabled selected>Duration</option>
            <option [ngValue] = 15>15 min</option>
            <option [ngValue] = 30>30 min</option>
            <option [ngValue] = 45>45 min</option>
            <option [ngValue] = 60>60 min</option>
            <option [ngValue] = 90>90 min</option>
            <option [ngValue] = 120>120 min</option>
        </select>
      </div>
      <app-primary-button class="search-button" (click)="searchAvailableTimeSlots()" [isBtnDisabled]="isSearchDisabled" [text]="'Search'"></app-primary-button>
    </form>
    <app-primary-button class="schedule-transfer-button align-right" [isBtnDisabled]="true" [text]="'Schedule transfer'"></app-primary-button>
  </div>
  
  <div class="w-100 d-flex flex-row align-items-center justify-content-between">
      <h3>Available dates</h3>
      <span class="align-middle remove-filter">Showing first 100 results</span>
  </div> 
  

  <div class="searched-elements" *ngIf="timeSlots">
    <div *ngFor="let timeSlot of timeSlots">
      <div class="card d-flex flex-row mb-3 align-items-center justify-content-between">
        <span>{{timeSlot.start | date: 'fullDate'}}</span>
        <span>{{timeSlot.start | date: 'shortTime'}}</span>
      </div>
    </div>
  </div>

</div>